@media(min-width: 700px){
  #container{
    display: flex;
  }
}




body {
  overflow-y: hidden;
  margin: 0%;
  padding: 0%;
}




#splash-screen {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/cropped_splash.jpg);
}

h1 {
  position: relative;
  margin: 0;
  top: 10%;
}

#age-check{
  position: relative;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  text-shadow: 4px 4px 4px black;
  color: white;
  font-size: 36px;
  top: 10%;
}

#div-buttons{
  position: relative;
  text-align: center;
  top: 10%;
}

.age-buttons {
  font-size: 320%;
  margin: 5%;
  color: white;
  text-shadow: 4px 4px 4px black;
}

#aye {
  border-color: green;
  background-color: green;
}

#naw {
  border-color: red;
  background-color: red;
}

#search-bar {
  height: 10vh;
  width: 100%;
}


#main-map {
  height: 90vh;
  width: 100%;
}

h1 {
  font-family: 'Gugi', cursive;
  color: #fbbd38;
  text-shadow: 4px 4px 4px black;
  font-size: 120px;
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
  font-family: 'Gugi', cursive;
  color: black;
}

body {
  background-color: #BFBDC1;
}
